@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --TEXT-COLOR: #fafafa;
  --BG-COLOR: #222222;
  --GRAY-BG-COLOR: #4e4e4e;
  --PRIMARY-COLOR: hsl(145, 87%, 30%);
  --PRIMARY-TEXT-COLOR: rgb(13, 191, 87);
  --STANDARD-BOX-SHADOW: 0 2px 4px rgba(0, 0, 0, .2); 
  --PRIMARY-BOX-SHADOW: 0 0 20px rgb(13, 191, 87, 0.7); 
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--TEXT-COLOR);
  background-color: var(--BG-COLOR);
}

/* || Reset */
h1 {
  font-weight: 600;
  font-size: 2.8em;
}

h2 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: .5em;
}

h3 {
  font-size: 2.4em;
  font-weight: 600;
  line-height: 1;
  margin-bottom: .5em;
}

h4 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: .5em;
}

p {
  font-size: 1.6em;
  margin-bottom: .6em;
  font-weight: 400;
}

a {
  font-size: 1.6em;
  text-decoration: none;
  color: var(--TEXT-COLOR);
  font-weight: 400;
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-size: 1.8rem;
  font-family: inherit;
  outline: none;
  border: none; 
  cursor: pointer; 
}

/* || Utility */
.container {
  max-width: 100%;
  padding-inline: 1.5em;
}

.font-light {
  font-weight: 300;
}

.text-primary {
  color: var(--PRIMARY-TEXT-COLOR);
}

.text-center {
  text-align: center;
}

.no-wrap {
  white-space: nowrap;
}

.small-line {
  display: inline-block;
  vertical-align: middle;
  margin-block: auto;
  width: 1.2em;
  height: .3rem;
  border-radius: .4em;
  background-color: var(--PRIMARY-COLOR);
}

/* || Global */
.section {
  padding-block: clamp(6em, 8vw, 9em);
}

.button {
  padding: .6em 1.2em;
  background-color: var(--PRIMARY-COLOR);  
  box-shadow: var(--PRIMARY-BOX-SHADOW); 
  display: inline-flex;
  align-items: center;
  border-radius: 1.4em;
  color: var(--TEXT-COLOR);
}

.button .icon {
  font-size: 1.4em;
  margin-right: .1em;
}

/* || Navbar */
.header__navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0 1.1em rgba(0, 0, 0, .1);
}

.header__navbar > .container {  
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: clamp(.8em, 2vw, 1.7em);
}

.header__brand {
  z-index: 1;
  color: var(--TEXT-COLOR);
}

.header__navigation {
  display: none;
  align-items: center;
  gap: 1.95em;
}

.header__navigation.mobile {
  transform-origin: top;
  animation: open-menu .5s ease-in-out forwards;
  padding: 1.5em;
  top: clamp(5rem, 9vw, 9rem);
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
}

.header__navigation.mobile li {
  padding-block: 1.2em;
}

.header__navigation ul {
  display: contents;
  list-style: none;
}

.header__navigation a:hover {
  color: var(--PRIMARY-COLOR);
}

.nav-button .icon {
  display: block;
  color: var(--PRIMARY-COLOR);
  font-size: 3em;
  cursor: pointer;
  user-select: none;
}

/* || Hero */
.hero {
  height: 100vh;
  background-image: url('/assets/hero_BG.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 5em;
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0,0.6); /* Semi-transparent black */
}

.hero .container {
  height: 100vh;
  padding-top: 3em;
  padding-inline: 4em;
  display: flex;
  align-items: center;
}

.hero__description {
  z-index: 1;
  flex: 1;
  display: grid;
  place-content: center;
  padding-bottom: 2.8em;
}

.hero__h2 {
  font-size: clamp(4em, 4vw, 5em);
  margin-bottom: .35em;
}

.hero__h3 {
  margin-bottom: .4em;
}

.hero__p {
  font-size: 1.7em;
}

.hero__image {
  display: none;
}

/* || About */
#about {
  scroll-margin-top: 6em;
}

#about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__image-container {
  text-align: center;
}

.about__image {
  position: relative;
  display: inline-block;
  background-color: var(--GRAY-BG-COLOR);
  height: auto;
  box-shadow: 0 0 .4em rgba(0, 0, 0, .2);
  width: clamp(60%, 50vw, 80%);
  padding-inline: 2em;
}

.about__image img {
  margin-bottom: -.5em;
  filter: brightness(85%) contrast(120%);
}

.about__image::after {
  z-index: -1;
  position: absolute;
  top: 1.7rem;
  left: 1.7rem;
  content: '';
  height: 100%;
  width: 100%;
  border: .5em solid var(--PRIMARY-COLOR);
}

.about__socials {
  top: 1em;
  right: 1em;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: .7em
}

.about__social-icon {
  display: grid;
  place-content: center;
  font-size: 2em;
  padding: .4em;
  background-color: var(--PRIMARY-COLOR);
}

.about__text {
  padding-block: 5em;
  flex: 1;
}

.about__text-bio {
  border-bottom: .1em solid rgba(0, 0, 0, .1);
}

.about__text-identity {
  padding-block: clamp(1em, 3vw, 3em);
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: .3em;
  column-gap: clamp(1em, 1.4vw, 3em);
}

.about__identity-item h4 {
  font-size: 1.6em;
  margin-bottom: .1em;
}

/* || Qualifications */
#qualification {
  scroll-margin-top: 3em;
}

.qualifications__container {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  row-gap: 4em;
}

.qualifications__educations,
.qualifications__achievement {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.qualifications__educations > h3,
.qualifications__achievement > h3 {
  margin-bottom: .2em;
}

.qualifications__card {
  color: var(--BG-COLOR);
  position: relative;
  border-left: .4em solid var(--PRIMARY-TEXT-COLOR);
  box-shadow: -5px 0 5px rgb(13, 191, 87, 0.7); 
  background-color: #ebebeb;
  flex: 1;
  padding: 2.4em 2.8em 1.2em;
}

.qualifications__sub-pharagraph {
  font-size: 1.4em;
  font-style: italic;
  margin-bottom: .2em;
}

/* || Skillset */
#skillset {
  scroll-margin-top: 5em;
}

.skillset__list {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 4em;
  row-gap: 2.5em;
  padding-inline: clamp(1em, 2vw, 3em);
}

.skillset__decription {
  display: flex;
  justify-content: space-between;
}

.skillset__decription-percentage {
  color: var(--PRIMARY-TEXT-COLOR);
  text-shadow: 0 0 20px rgb(13, 191, 87, 0.7); 
  font-weight: 600;
}

.skillset__progress-bar {
  position: relative;
  width: 100%;
  height: .4rem;
  background-color: var(--GRAY-BG-COLOR);
  box-shadow: var(--STANDARD-BOX-SHADOW);
}

.skillset__bar {
  height: .4rem;
  background-color: var(--PRIMARY-TEXT-COLOR);
  box-shadow: var(--PRIMARY-BOX-SHADOW);
}

/* || Projects */
.projects__container {
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding-inline: clamp(0em, 1vw, 3em);
}

.projects__item {
  border-radius: .1em;
  overflow: hidden;
  box-shadow: var(--STANDARD-BOX-SHADOW);
  display: grid;
  place-items: center;
  isolation: isolate;
  flex: 1 100%;
}

.projects__item img {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  height: 100%;
  width: 100%;
  filter: brightness(65%);
}

.projects__show {
  display: grid;
  place-content: center;
  z-index: 1;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  font-size: 6em;
  box-shadow: var(--PRIMARY-BOX-SHADOW); 
  border-radius: 50%;
}

/* || Footer */
.footer {
  text-align: center;
  background-color: var(--PRIMARY-COLOR);
  padding: 2.5em;
}

.footer p {
  font-size: 1.6rem;
  margin-bottom: 0;
}

/* || Modifier */
.button--contact {
  border: .1em solid var(--PRIMARY-TEXT-COLOR);
  background-color: var(--BG-COLOR);
  color: var(--PRIMARY-TEXT-COLOR);
}

@media screen and (min-width: 40em) {
  .container {
    max-width: 70%;
    margin-inline: auto;
    padding-inline: 0;
  }

  .hero .container {
    padding-inline: 0;
  }

  .about__image img {
    max-height: 450px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 85%;
  }

  .nav-button {
    display: none;
  }

  .header__navigation {
    display: flex;
  }

  .hero .container {
    padding-inline: 8em;
  }

  .hero__description {
    padding-bottom: 0;
    text-align: center;
  }

  .hero__image {
    display: block;
    flex-basis: clamp(30%, 35vw, 45%);
    text-align: center;
  }

  .hero__image img {
    height: clamp(30em, 40vw, 50em);
    transform: rotateY(180deg);
    margin-bottom: -.3em;
  }

  /* || About */
  #about .container {
    padding-inline: 2em;
    flex-direction: row;
  }

  .about__image-container {
    flex-basis: 36%;
    text-align: left;
  }

  .about__text {
    padding-block: 0;
  }

  .about__text-identity {
    grid-template-columns: repeat(3, 1fr);
  }

  /* || SkillSet */
  .skillset__list {
    grid-template-columns: 1fr 1fr;
    padding-inline: 0;
  }

  /* || Projects */
  .projects__container {
    padding-inline: 0;
  }

  .projects__item {
    flex: 1 1 calc(50% - 2em);
  }

  .projects__item:last-child {
    flex-basis: calc(50% - 1em);
    flex-grow: 0;
  }

  /* || Qualifications */
  .qualifications__container {
    grid-template-columns: 1fr 1fr;
  }
}

@keyframes open-menu {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.2);
  }

  100% {
    transform: scaleY(1);
  }
}

